* {
    box-sizing: border-box;
    /* border: 1px dotted black; */
  }

html {
    background-color: #116466;
    font-size: 62.5%;
}

body {
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    background-color: red;
    flex: 0 1 auto;
}

.container > * + * {
    margin-top: 5px;
}


header{
    background-color: #d9b08c;
    text-align: center;
    width: 50%;
    margin:auto;
    margin-top: 5px;
    padding:10px;
    border-bottom-left-radius: 50px;
    border-radius: 50px;
    border-bottom-right-radius: 50px;
}

#topDiv{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

#leftSideTop{
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leftSideButtons{
    background-color: white;
}

#rightSideTop{
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gridSection{
    flex: 1 0 auto;
    display:grid;
    /* border: 2px solid #9ba5a2; */
    border: 2px solid lightgray;
}

.boxes {
    background-color: white;
    width:10px;
    height:10px;
    border: 1px solid #9ba5a2;    
}

#bottomDiv{
    display:flex;
    flex-direction: row;
    justify-content:center;
}

.bottomButtons{
    /* margin: 10px; */
}

form {
    margin: 5px;
    /* border: 2px solid #9ba5a2; */
}

form input{
    border: 2px solid #9ba5a2;
    border-radius: 5px;

}

#input1{
    width:75px;
}

button{
    border-radius: 5px;
    margin:5px;
    border: 2px solid #9ba5a2;
}

button:hover{
    transform: scale(1.1);
}

.btnPressed{
    border: 2px solid #d1e8e2;
    transform: scale(2);
}

/* #outerRed {
    background-color: red;
    width:700px;
    margin: auto;
} */
